# Keycloak Admin
KEYCLOAK_ADMIN_USERNAME=keycloak_admin
KEYCLOAK_ADMIN_PASSWORD=change_me_keycloak_admin_password

# Keycloak PostgreSQL
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=change_me_keycloak_db_password

KEYCLOAK_PORT=8080
KEYCLOAK_BIND_IP=0.0.0.0
TZ=Asia/Ho_Chi_Minh
