# Agent build
JENKINS_BUILD_AGENT_NAME=docker-builder
JENKINS_BUILD_AGENT_SECRET=change_me_jenkins_build_agent_secret

# Agent deploy
JENKINS_DEPLOY_AGENT_NAME=k3s-deployer
JENKINS_DEPLOY_AGENT_SECRET=change_me_jenkins_deploy_agent_secret

# Keep versions pinned for this environment
KUBECTL_VERSION=v1.30.6
HELM_VERSION=v3.21.1
TZ=Asia/Ho_Chi_Minh
